@model IEnumerable<Fashion_Website.Models.USER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .detail-button {
        background-color: lightblue;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        text-decoration: none;
    }

    .delete-button {
        background-color: red;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        text-decoration: none;
    }

    .edit-button {
        background-color: green;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        text-decoration: none;
    }
</style>

<div class="row mt-4">
    <div class="col-6">
        @Html.ActionLink("Thêm Người dùng mới", "Create", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-6">
        <form style="width: 100%; padding-left: 250px;" action="/User" method="get">
            <div class="form-group">
                <input class="form-control" id="search" type="text" name="search" placeholder="" value="" />
            </div>
        </form>
    </div>
    <table class="table">
        <tr>
            <th>
                Tài Khoản
            </th>
            <th>
                Quyền Người dùng
            </th>
            <th>
                Tình Trạng
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserRole)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TinhTrang)
                </td>
                <td>
                    <button class="edit-button">
                        <a href="~/User/Edit?id=@item.MaKH">Cập nhật</a>
                    </button>
                    <button class="detail-button">
                        <a href="~/User/Detail?id=@item.MaKH">Chi tiết</a>
                    </button>
                    <button class="delete-button">
                        <a href="~/User/Delete?id=@item.MaKH">Xóa</a>
                    </button>
                </td>
            </tr>
        }

    </table>
</div>
