
@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<head>
    <link href="~/Content/Sanpham.css" />
</head>

<body>
    <section id="collection-wrapper" class="mg-bottom-30">
        <div class="collection-wrapper-header">
            <div class="grid-container tittle-container">
                <div class="grid-item">
                    <h1 class="section-title">
                        T-SHIRTS
                    </h1>
                </div>
            </div>
        </div>
        <div class="grid-container product">
            <div class="grid-item">
                <div class="product-item">
                    <div class="product-image">
                        <a href="#" class="">
                            <img src="~/images/product1.jpg" alt="Sweet But Psycho T-Shirt In Brown" class="img-responsive item-thumb">
                            <img src="~/images/mwc01.jpg" alt="Sweet But Psycho T-Shirt In Brown" class="img-responsive item-thumb hoverSwap">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="#" class="product-title a">Sweet But Psycho T-Shirt In Brown</a>
                        <span class="sku-loop">Mã sản phẩm: AT646-L</span>
                        <span class="product-price">
                            <span class="current-price">99,000₫</span>

                        </span>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="product-item">
                    <div class="product-image">
                        <a href="#" class="">
                            <img src="~/images/product1.jpg" alt="Sweet But Psycho T-Shirt In Brown" class="img-responsive item-thumb">
                            <img src="~/images/mwc01.jpg" alt="Sweet But Psycho T-Shirt In Brown" class="img-responsive item-thumb hoverSwap">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="#" class="product-title a">Sweet But Psycho T-Shirt In Brown</a>
                        <span class="sku-loop">Mã sản phẩm: AT646-L</span>
                        <span class="product-price">
                            <span class="current-price">99,000₫</span>

                        </span>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="product-item">
                    <div class="product-image">
                        <a href="#" class="">
                            <img src="~/images/product1.jpg" alt="Sweet But Psycho T-Shirt In Brown" class="img-responsive item-thumb">
                            <img src="~/images/mwc01.jpg" alt="Sweet But Psycho T-Shirt In Brown" class="img-responsive item-thumb hoverSwap">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="#" class="product-title a">Sweet But Psycho T-Shirt In Brown</a>
                        <span class="sku-loop">Mã sản phẩm: AT646-L</span>
                        <span class="product-price">
                            <span class="current-price">99,000₫</span>

                        </span>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="product-item">
                    <div class="product-image">
                        <a href="#" class="">
                            <img src="~/images/product1.jpg" alt="Sweet But Psycho T-Shirt In Brown" class="img-responsive item-thumb">
                            <img src="~/images/mwc01.jpg" alt="Sweet But Psycho T-Shirt In Brown" class="img-responsive item-thumb hoverSwap">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="#" class="product-title a">Sweet But Psycho T-Shirt In Brown</a>
                        <span class="sku-loop">Mã sản phẩm: AT646-L</span>
                        <span class="product-price">
                            <span class="current-price">99,000₫</span>

                        </span>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="product-item">
                    <div class="product-image">
                        <a href="#" class="">
                            <img src="~/images/product1.jpg" alt="Sweet But Psycho T-Shirt In Brown" class="img-responsive item-thumb">
                            <img src="~/images/mwc01.jpg" alt="Sweet But Psycho T-Shirt In Brown" class="img-responsive item-thumb hoverSwap">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="#" class="product-title a">Sweet But Psycho T-Shirt In Brown</a>
                        <span class="sku-loop">Mã sản phẩm: AT646-L</span>
                        <span class="product-price">
                            <span class="current-price">99,000₫</span>

                        </span>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="product-item">
                    <div class="product-image">
                        <a href="#" class="">
                            <img src="~/images/product1.jpg" alt="Sweet But Psycho T-Shirt In Brown" class="img-responsive item-thumb">
                            <img src="~/images/mwc01.jpg" alt="Sweet But Psycho T-Shirt In Brown" class="img-responsive item-thumb hoverSwap">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="#" class="product-title a">Sweet But Psycho T-Shirt In Brown</a>
                        <span class="sku-loop">Mã sản phẩm: AT646-L</span>
                        <span class="product-price">
                            <span class="current-price">99,000₫</span>

                        </span>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="product-item">
                    <div class="product-image">
                        <a href="#" class="">
                            <img src="~/images/product1.jpg" alt="Sweet But Psycho T-Shirt In Brown" class="img-responsive item-thumb">
                            <img src="~/images/mwc01.jpg" alt="Sweet But Psycho T-Shirt In Brown" class="img-responsive item-thumb hoverSwap">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="#" class="product-title a">Sweet But Psycho T-Shirt In Brown</a>
                        <span class="sku-loop">Mã sản phẩm: AT646-L</span>
                        <span class="product-price">
                            <span class="current-price">99,000₫</span>

                        </span>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="product-item">
                    <div class="product-image">
                        <a href="#" class="">
                            <img src="~/images/product1.jpg" alt="Sweet But Psycho T-Shirt In Brown" class="img-responsive item-thumb">
                            <img src="~/images/mwc01.jpg" alt="Sweet But Psycho T-Shirt In Brown" class="img-responsive item-thumb hoverSwap">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="#" class="product-title a">Sweet But Psycho T-Shirt In Brown</a>
                        <span class="sku-loop">Mã sản phẩm: AT646-L</span>
                        <span class="product-price">
                            <span class="current-price">99,000₫</span>

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
