@model Fashion_Website.Models.KHACHHANG

@{
    ViewBag.Title = "Xóa thông tin Khách hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h3>Bạn có chắc chắn muốn xóa @Html.DisplayFor(model => model.HoTen)?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input class="btn btn-success button1" type="submit" value="Xóa">
        <div style="margin-left:210px;color:#ccc">
            @Html.ActionLink("Quay về Danh sách", "Index")
        </div>
    </div>
    }
</div>
